:root {
	--font: 'Overpass', sans-serif;
	--font-size-title: clamp(25px, 2.5vw, 25px);
	--font-size-description: clamp(14px, 1.45vw, 16px);
	--font-size-button: clamp(14px, 1.5vw, 16px);
	--primary-color-orange: hsl(25, 97%, 53%);
	--primary-color-dark-orange: hsl(25, 93%, 41%);
	--neutral-color-white: hsl(0, 0%, 100%);
	--neutral-color-light-grey: hsl(217, 12%, 63%);
	--neutral-color-medium-grey: hsl(216, 12%, 54%);
	--neutral-color-dark-blue: hsl(213, 19%, 18%);
	--neutral-color-dark-blue-transparency: hsl(213, 19%, 18%, .2);
	--neutral-color-very-dark-blue: hsl(216, 12%, 8%);
	--neutral-color-icon-dark-grey: hsl(210, 19%, 18%);
	--border-radius: 28px;
	--border-radius-circle: 50%;
	--margin: 22px;
	--padding-lr: 40px;
	--padding-tb: 30px;
	--padding-lr-rating: 20px;
	--padding-tb-rating: 5px;
	--padding-button: 12.5px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
	font-family: var(--font);
	border: none;
	outline: none;
}

body {
	background-color: var(--neutral-color-very-dark-blue);
}

main {
	position: relative;
	margin: var(--margin);
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	overflow: hidden;
}

.container-content {
	max-width: 410px;
	max-height: 416px;
	display: flex;
	flex-direction: column;
	background-image: linear-gradient(to bottom, var(--neutral-color-dark-blue),
												 var(--neutral-color-dark-blue-transparency));
	border-radius: var(--border-radius);
	padding: var(--padding-tb);	
	text-align: center;
}

.container-rating {
	text-align: left;
}

.icon {	
	width: 50px;
	height: 50px;
	border-radius: var(--border-radius-circle);
	background-color: var(--neutral-color-icon-dark-grey);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;	
}

.icon-star {	
	margin-bottom: 30px;
}

.title {	
	color: var(--neutral-color-white);
	font-size: var(--font-size-title);
	letter-spacing: 2px;
	margin-bottom: 20px;
}

.description {	
	color: var(--neutral-color-medium-grey);
	font-size: var(--font-size-description);
	font-weight: 500;
	line-height: 23px;
	margin-bottom: 30px;
}

.rating-number {
	position: relative;
	display: flex;
	justify-content: space-between;
}

.icon-number {
	cursor: pointer;
	color: var(--neutral-color-medium-grey);
	font-weight: 600;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
	transition: background-color 250ms ease-in-out;
}

.icon-number:hover {
	background-color: var(--primary-color-orange);
	color: var(--neutral-color-white);
}

.icon-number:active {
	background-color: black;
	color: var(--neutral-color-white);
}

.btn-submit {	
	display: flex;
	justify-content: center;
	align-content: center;	
	cursor: pointer;
	font-size: var(--font-size-button);
	background-color: var(--primary-color-orange);
	border-radius: var(--border-radius);
	color: var(--neutral-color-white);
	text-transform: uppercase;	
	letter-spacing: 1px;
	font-weight: 600;	
	padding: var(--padding-button);
	transition: background-color 200ms ease-in-out;	
}

.btn-submit:hover {
	background-color: var(--primary-color-dark-orange);
}

.btn-submit:active {
	background-color: black;
}

/* Card Thank You */
.container-thank-you{
	margin-top: 10px;
}

.container-select-rating{
	margin: auto;
	margin-bottom: 30px;
}

.rating-select{	
	width: 100%;
	background-color: var(--neutral-color-icon-dark-grey);
	color: var(--primary-color-orange);
	border-radius: var(--border-radius);
	padding: var(--padding-tb-rating) var(--padding-lr-rating);
}

.icon-thank-you{
	margin-bottom: 30px;
}